In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm

from pyfixest.estimation import feols
from pyfixest.utils import get_data
from pyfixest.summarize import etable

In [9]:
df_titanic = pd.read_csv("../data/titanic.csv")
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:

# Convert to categorical:
df_titanic['Pclass_cat'] = df_titanic['Pclass'].astype('category')

model_nofe = feols("Survived ~  Age + Pclass_cat", data = df_titanic).vcov("hetero")
model = feols("Survived ~  Age | Pclass", data = df_titanic).vcov("hetero")
etable([model_nofe, model])

                              est1               est2
---------------  -----------------  -----------------
depvar                    Survived           Survived
-----------------------------------------------------
Intercept         0.969*** (0.055)
Age              -0.008*** (0.001)  -0.008*** (0.001)
Pclass_cat[T.2]  -0.245*** (0.051)
Pclass_cat[T.3]  -0.524*** (0.041)
-----------------------------------------------------
Pclass                           -                  x
-----------------------------------------------------
R2                           0.181              0.181
S.E. type                   hetero             hetero
Observations                   714                714
-----------------------------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001

In [23]:
# Can put in many fixed effects:
model = feols("Survived ~  Age | Pclass + Embarked", data = df_titanic).vcov("hetero")
etable(model)

                           est1
------------  -----------------
depvar                 Survived
-------------------------------
Age           -0.008*** (0.001)
-------------------------------
Embarked                      x
Pclass                        x
-------------------------------
R2                        0.188
S.E. type                hetero
Observations                712
-------------------------------
Significance levels: * p < 0.05, ** p < 0.01, *** p < 0.001